<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/todo-list.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/single-todo.css" />
		<!--<link rel="stylesheet" type="text/css" href="/stylesheets/switch.css" />-->
		
	</head>
	<body>
		<div id="usernameHeader" data-request={{name}}>			
		</div>
		<div id="componentContainer">
		</div>
	</body>
	<script src="/js/vendors.js"></script>
	<script type="text/javascript" src="/js/bundle.js"></script>
	
</html>	
