<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8"/>
		<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="dist/stylesheets/reset.css" />
		<link rel="stylesheet" type="text/css" href="dist/stylesheets/app.css" />
		<link rel="stylesheet" type="text/css" href="dist/stylesheets/home-page.css" />

		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
		<!--<link rel="stylesheet" type="text/css" href="/dist/stylesheets/switch.css" />-->
		
	</head>
	<body>
		<div id="usernameHeader" data-display-name="<%= display_name %>" data-user-name="<%= user_name %>">			
		</div>
		<div id="componentContainer">
		</div>
		<!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
		   <filter id="blur">
		       <feGaussianBlur stdDeviation="3" />
		   </filter>
		</svg> -->
		<div id="popup-container">
		</div>
	</body>

<!-- 
	<script src="/dist/js/vendors.js"></script>
	<script src="/dist/js/login.bundle.js"></script>
 -->

	<!--Use this only in development, while using React Hot Loader -->
     
    <script src="http://localhost:8080/dist/js/vendors.js"></script>
    <script src="http://localhost:8080/dist/js/login.bundle.js"></script>


	
</html>	
