
#componentContainer {
	width: 100%;
	min-height: 100%;
}

#homePage {	
	min-width: 100%;
	min-height: 100%;
	position: absolute;
}

#signupHeader, #loginHeader, #loginErrMsg, #signupNameMsg, #signupPwMsg {
	color: white;
}

#signupSection {
	border-style: solid;
	border-radius: 50px;
	/*margin-left: 5%;*/
	padding-left: 5%;
	padding-right: 3%;
	padding-bottom: 1%
}